{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-content">
    <div class="container-fluid">

        <!-- start page title -->
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-md-8">
                    <h6 class="page-title">Market breath</h6>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active"><h4 class="card-title mb-4"> Ежедневно обновляемые показатели статуса американского рынка (10.000 акций)</h4></li>
                    </ol>
                </div>
            </div>
        </div>
        <!-- end page title -->

        <div class="row">
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body" style='min-height: 159px;'> 
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
				<span style='font-size: 1.5em; font-weight: bold'>+4%</span>
                            </div>
                            <h5 class="font-size-16 text-uppercase text-white-50">ВЧЕРА</h5>
                            <h4 class="fw-medium font-size-24">{{ upperblocks.f1.0 }} <i
                                    class="mdi 
				{% if upperblocks.d12.0 >= 0 %} mdi-arrow-up text-success {% else %} mdi-arrow-down text-danger {% endif %}
 ms-2"></i>&nbsp{{ upperblocks.f2.0 }}</h4>
                            <div class="mini-stat-label bg-success">
                                <p class="mb-0">{{ upperblocks.d12.0 }}%</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <!--div class="float-end">
                                <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5 text-white-50"></i></a>
                            </div-->

                            <p style='font-size: 1.2em;' class="text-white-50 mb-0 mt-1">Количество акций CLOSE/OPEN &ge; 1.04</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body" style='min-height: 159px;'>
                        <div class="mb-4">
                            <div class="float-start mini-stat-img me-4">
				<span style='font-size: 1.5em; font-weight: bold'>-4%</span>
                            </div>
                            <h5 class="font-size-16 text-uppercase text-white-50">ВЧЕРА</h5>
                            <h4 class="fw-medium font-size-24">{{ upperblocks.f3.0 }} <i
                                    class="mdi 
				{% if upperblocks.d34.0 >= 0 %} mdi-arrow-up text-success {% else %} mdi-arrow-down text-danger {% endif %}
				     ms-2"></i>&nbsp{{ upperblocks.f4.0 }}</h4>
                            <div class="mini-stat-label bg-danger">
                                <p class="mb-0">{{ upperblocks.d34.0 }}%</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <!--div class="float-end">
                                <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5 text-white-50"></i></a>
                            </div-->

                            <p style='font-size: 1.2em;'class="text-white-50 mb-0 mt-1">Количество акций с падением &lt; 4%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body" style='min-height: 159px;'>
                        <div class="mb-4">
			    <div class="margin:0px; padding:0px; float-start mini-stat-img me-4">
				<div style="margin:-5px; padding:0px; font-size: 1.5em; font-weight: bold; text-align: center">+4%</div>
				<div style="margin: -40px; padding:0px;font-size: 1.2em; font-weight: bold; text-align: center">vwap</div>
                            </div>
                            <h5 class="font-size-16 text-uppercase text-white-50">&nbsp</h5>
                            <h4 class="fw-medium font-size-24">{{ upperblocks.f5.0 }} <i
                                    class="mdi 
				{% if upperblocks.d56.0 >= 0 %} mdi-arrow-up text-success {% else %} mdi-arrow-down text-danger {% endif %}
				ms-2"></i>&nbsp{{ upperblocks.f6.0 }}</h4>
                            <div class="mini-stat-label bg-info">
                                <p class="mb-0">{{ upperblocks.d56.0 }}%</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <!--div class="float-end">
                                <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5 text-white-50"></i></a>
                            </div-->

                            <p style='font-size: 1.2em;'class="text-white-50 mb-0 mt-1">СLOSE &ge; VWAP на 4%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6">
                <div class="card mini-stat bg-primary text-white">
                    <div class="card-body" style='min-height: 159px;'>
                        <div class="mb-4">
			    <div class="margin:0px; padding:0px; float-start mini-stat-img me-4">
				<div style="margin:-5px; padding:0px; font-size: 1.5em; font-weight: bold; text-align: center">-4%</div>
				<div style="margin: -40px; padding:0px;font-size: 1.2em; font-weight: bold; text-align: center">vwap</div>
                            </div>
                            <h5 class="font-size-16 text-uppercase text-white-50">&nbsp</h5>
                            <h4 class="fw-medium font-size-24">{{ upperblocks.f7.0 }} <i
                                    class="mdi 
				{% if  upperblocks.d78.0 >= 0 %} mdi-arrow-up text-success {% else %} mdi-arrow-down text-danger {% endif %}
 ms-2"></i>&nbsp{{ upperblocks.f8.0 }}</h4>
                            <div class="mini-stat-label bg-warning">
                                <p class="mb-0">{{ upperblocks.d78.0 }}%</p>
                            </div>
                        </div>
                        <div class="pt-2">
                            <!--div class="float-end">
                                <a href="#" class="text-white-50"><i class="mdi mdi-arrow-right h5 text-white-50"></i></a>
                            </div-->

                            <p style='font-size: 1.2em;'class="text-white-50 mb-0 mt-1">СLOSE &lt; VWAP на 4%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body" >
                        <h4 class="card-title mb-12">График количества гэпперов 20% за 90 календарных дней</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div id="chart-with-area" class="ct-chart earning ct-golden-section">
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="text-center">
                                            <p class="text-muted mb-4">Вчера/неделя</p>
                                            <h3>{{stock_counts.day.0}}/{{stock_counts.week.0}}</h3>
                                            <p class="text-muted mb-5">Отношение количества гэпперов 25% вчера к последним 5 дням.</p>
                                            <span class="peity-donut"
                                                data-peity='{ "fill": ["#02a499", "#f2f2f2"], "innerRadius": 28, "radius": 32 }'
                                                data-width="72" data-height="72">{{stock_counts.day.0}}/{{stock_counts.week.0}}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="text-center">
                                            <p class="text-muted mb-4">Неделя/месяц</p>
                                            <h3>{{stock_counts.week.0}}/{{stock_counts.month.0}}</h3>
                                            <p class="text-muted mb-5">Отношение количества гэпперов 25% последней недели к месяцу.</p>
                                            <span class="peity-donut"
                                                data-peity='{ "fill": ["#02a499", "#f2f2f2"], "innerRadius": 28, "radius": 32 }'
                                                data-width="72" data-height="72">{{stock_counts.week.0}}/{{stock_counts.month.0}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end card -->
            </div>

        </div>
        <!-- end row -->






        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Таблица гэпперов за последний торговый день, все акции с ростом > 20%</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-centered table-nowrap mb-0">
                                <thead>
                                    <tr>
                                        <th scope="col">(#) ticker</th>
                                        <th scope="col">open</th>
                                        <th scope="col">close</th>
                                        <th scope="col">hight</th>
                                        <th scope="col">low</th>
                                        <th scope="col">vwap</th>
                                        <th scope="col">volume</th>
                                        <th scope="col">gap</th>
                                          <th scope="col">date</th>
                                    </tr>
                                </thead>
                                <tbody>

                                  {% for gapper in results%}
                                    <tr>
                                        <th scope="row">{{ gapper.ticker }}</th>
                                        <td>
                                            {{ gapper.open }}
                                        </td>
                                        <td>{{ gapper.close }}</td>
                                        <td>{{ gapper.hight }}</td>
                                        <td>{{ gapper.low }}</td>
                                        <td>{{ gapper.vwap }}</td>
                                        <td>{{ gapper.volume }}</td>
                                        <td>{{ gapper.gap }}</td>
                                        <td>{{ gapper.date }}</td>
                                    </tr>
                                  {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end row -->


        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-12">Количество акций ценой ниже 1$, которые были выше 1$  3 месяца назад. Иллюстрация холодных/горячих циклов ликвидности. Выше число -> больше гэпперов, выше выносы. Ниже число -> менее вероятны шорт-сквизы, рынок не обладает динамикой.
                        <div class="row">
                            <div class="col-lg-12">
                                <div>
                                    <div id="chart-with-area4" class="ct-chart earning ct-golden-section">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
                <!-- end card -->
            </div>

        </div>
        <!-- end row -->



    </div> <!-- container-fluid -->
</div>
{% endblock%}
