<!doctype html>
{% load static %}
<html lang="en">

    <head>

        <meta charset="utf-8">
        <title>{% block title %} {% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
        <meta content="www.robo.ru" name="author">
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'assets/images/favicon.ico' %}">

        <link href="{% static 'assets/libs/chartist/chartist.min.css' %}" rel="stylesheet">

        <!-- Bootstrap Css -->
        <link href="{% static 'assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css">
        <!-- Icons Css -->
        <link href="{% static 'assets/css/icons.min.css' %}" rel="stylesheet" type="text/css">
        <!-- App Css-->
        <link href="{% static 'assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css">

    </head>

    <body data-sidebar="dark">

        <!-- Begin page -->
        <div id="layout-wrapper">


            <header id="page-topbar">
                <div class="navbar-header">
                    <div class="d-flex">
                        <!-- LOGO -->
                        <div class="navbar-brand-box">
                            <a href="/" class="logo logo-dark">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo.svg' %}" alt="" height="42">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo.svg' %}" alt="" height="40">
                                </span>
                            </a>

                            <a href="/" class="logo logo-light">
                                <span class="logo-sm">
                                    <img src="{% static 'assets/images/logo.svg' %}" alt="" height="42">
                                </span>
                                <span class="logo-lg">
                                    <img src="{% static 'assets/images/logo.svg' %}" alt="" height="40">
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </header>

            <!-- ========== Left Sidebar Start ========== -->
            <div class="vertical-menu">

                <div data-simplebar class="h-100">

                    <!--- Sidemenu -->
                    <div id="sidebar-menu">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled" id="side-menu">
                            <li class="menu-title"></li>
                            <li>
                                <a href="/" class="waves-effect">
                                    <i class="ti-home"></i><span class="badge rounded-pill bg-primary float-end"></span>
                                    <span>Market breath</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- Sidebar -->
                </div>
            </div>
            <!-- Left Sidebar End -->

            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                {% block content %}

                {% endblock %}



                <footer class="footer">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12"><i>&copy; www.robo.ru </i></div>
                        </div>
                    </div>
                </footer>

            </div>
            <!-- end main content-->

        </div>
        <!-- END layout-wrapper -->

        <!-- Right Sidebar -->
        <div class="right-bar">
            <div data-simplebar class="h-100">
                <div class="rightbar-title px-3 py-4">
                    <a href="javascript:void(0);" class="right-bar-toggle float-end">
                        <i class="mdi mdi-close noti-icon"></i>
                    </a>
                    <h5 class="m-0">Settings</h5>
                </div>

                <!-- Settings -->
                <hr class="mt-0" />
                <h6 class="text-center">Choose Layouts</h6>

                <div class="p-4">
                    <div class="mb-2">
                        <img src="{% static 'assets/images/layouts/layout-1.jpg' %}" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input theme-choice" id="light-mode-switch" checked />
                        <label class="form-check-label" for="light-mode-switch">Light Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="{% static 'assets/images/layouts/layout-2.jpg' %}" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-3">
                        <input type="checkbox" class="form-check-input theme-choice" id="dark-mode-switch" data-bsStyle={% static 'assets/css/bootstrap-dark.min.css' %}"
                            data-appStyle={% static 'assets/css/app-dark.min.css' %}" />
                        <label class="form-check-label" for="dark-mode-switch">Dark Mode</label>
                    </div>

                    <div class="mb-2">
                        <img src="{% static 'assets/images/layouts/layout-3.jpg' %}" class="img-fluid img-thumbnail" alt="">
                    </div>
                    <div class="form-check form-switch mb-5">
                        <input type="checkbox" class="form-check-input theme-choice" id="rtl-mode-switch" data-appStyle={% static 'assets/css/app-rtl.min.css' %}" />
                        <label class="form-check-label" for="rtl-mode-switch">RTL Mode</label>
                    </div>
                    <div class="d-grid">
                        <a href="https://1.envato.market/grNDB" class="btn btn-primary mt-3" target="_blank"><i class="mdi mdi-cart me-1"></i> Purchase Now</a>
                    </div>
                </div>

            </div> <!-- end slimscroll-menu-->
        </div>
        <!-- /Right-bar -->

        <!-- Right bar overlay-->
        <div class="rightbar-overlay"></div>

                <!-- JAVASCRIPT -->
                <script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>
                <script src="{% static 'assets/libs/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
                <script src="{% static 'assets/libs/metismenu/metisMenu.min.js' %}"></script>
                <script src="{% static 'assets/libs/simplebar/simplebar.min.js' %}"></script>
                <script src="{% static 'assets/libs/node-waves/waves.min.js' %}"></script>


        <!-- Peity chart-->
        <script src="{% static 'assets/libs/peity/jquery.peity.min.js' %}"></script>

        <!-- Plugin Js-->
        <script src="{% static 'assets/libs/chartist/chartist.min.js' %}"></script>
        <script src="{% static 'assets/libs/chartist-plugin-tooltips/chartist-plugin-tooltip.min.js' %}"></script>

        <!--script src="{% static 'assets/js/pages/dashboard.init.js' %}"></script-->
        <script>

{% autoescape off %}
    var dashdate=JSON.parse('{{finalresultsjson}}'); 
{% endautoescape %}

    var line1=Object.values(dashdate.count);
    var line2=Object.values(dashdate.MA_5);
    var line3=Object.values(dashdate.MA_15);
    var labelsdsfull=Object.values(dashdate.date);
    var labelsds = labelsdsfull.map((element,index) => {
	if(index%2 === 0)
          return element.trim().substr(-5, 2)+"\n"+ element.trim().substr(-2, 2);
	return '';
    });
    const all =[].concat(line1,line2,line3);
    const mina = (values) => values.reduce((x, y) => Math.min(x, y));
    const maxa= (values) => values.reduce((x, y) => Math.max(x, y));
    var minvalds=mina(all);
    var maxvalds=maxa(all);
    console.log(minvalds);
new Chartist.Line("#chart-with-area",{
    labels: labelsds,
    series: [
	{	
	    name: 'count',
	    data: line1
	},
	{
	    name: 'MA_5',
	    data: line2
	},
	{	
	    name: 'MA_15',
	    data:line3
	}
    ]
},{
    low: minvalds,
    showArea: !0,
    series: {
    'count': {
      showArea: false
      ,showPoint: true
      ,stroke: 'red'

    },
    'MA_5': {
      showArea: false
      ,showPoint: true
      ,stroke: 'blue'
    },
    'MA_15': {
      showArea: false
      ,showPoint: true
      ,stroke: 'yellow'
    }},
    scales: {
      xAxes: [{
        ticks: {
          autoSkip: true,
          maxRotation: 90,
          minRotation: 90
        }
      }]
    },
    plugins: [Chartist.plugins.tooltip()]
});




{% autoescape off %}
    dashdate=JSON.parse('{{s4json}}'); 
{% endautoescape %}

    line1=Object.values(dashdate.count);
    line2=Object.values(dashdate.MA_5);
    line3=Object.values(dashdate.MA_15);
    labelsdsfull=Object.values(dashdate.date);
    labelsds = labelsdsfull.map((element,index) => {
	if(index%2 === 0)
          return element.trim().substr(-5, 2)+"\n"+ element.trim().substr(-2, 2);
	return '';
    });
    const all4 =[].concat(line1,line2,line3);
    minvalds=mina(all);
    maxvalds=maxa(all);
    console.log(minvalds);
    new Chartist.Line("#chart-with-area4",{
    labels: labelsds,
    series: [
	{	
	    name: 'count',
	    data: line1
	},
	{
	    name: 'MA_5',
	    data: line2
	},
	{	
	    name: 'MA_15',
	    data:line3
	}
    ]
},{
    low: minvalds,
    showArea: !0,
    series: {
    'count': {
      showArea: false
      ,showPoint: true
      ,stroke: 'red'

    },
    'MA_5': {
      showArea: false
      ,showPoint: true
      ,stroke: 'blue'
    },
    'MA_15': {
      showArea: false
      ,showPoint: true
      ,stroke: 'yellow'
    }},
    scales: {
      xAxes: [{
        ticks: {
          autoSkip: true,
          maxRotation: 90,
          minRotation: 90
        }
      }]
    },
    plugins: [Chartist.plugins.tooltip()]
});











var chart = new Chartist.Pie("#ct-donut",{
    series: [54, 28, 17],
    labels: [1, 2, 3]
},{
    donut: !0,
    showLabel: !1,
    plugins: [Chartist.plugins.tooltip()]
});
$(".peity-donut").each(function() {
    $(this).peity("donut", $(this).data())
}),
$(".peity-line").each(function() {
    $(this).peity("line", $(this).data())
});


	</script>
        <!-- <script src="{% static 'assets/js/app.js' %}"></script> -->

    </body>

</html>
